@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    background-color: #232222;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    background-color: black;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;

}

.score--value {
    font-weight: 700;
    font-size: 4rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 10px;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    width: 40%;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}